/node_modules/
/dist/
/src-tauri/steam_api/
/src-tauri/tools/steamworks-fetcher/target/
/pkg/arch/**
!/pkg/arch/PKGBUILD
libsteam_api.so
steam_api64.dll

.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

sign.sh
