<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Steam Screenshot Importer"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="yobson"
    UpgradeCode="BD283E5C-4DEE-583A-A582-81D17C742E43">
    <!--
      UpgradeCode is Tauri's UUID v5 for
      "Steam Screenshot Importer.exe.app.x64". Keeping it allows this package
      to replace MSI installations produced by the former Tauri build.
    -->
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64" />

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of Steam Screenshot Importer is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPNOREPAIR" Value="1" />
    <Icon Id="ProductIcon.ico" SourceFile="assets\icons\steam-screenshot-importer.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Steam Screenshot Importer" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Steam Screenshot Importer" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ApplicationExecutable" Guid="*" Win64="yes">
        <File
          Id="ApplicationExecutableFile"
          Source="$(var.SourceDir)\steam-screenshot-importer.exe"
          KeyPath="yes"
          Checksum="yes">
          <Shortcut
            Id="ApplicationStartMenuShortcut"
            Directory="ApplicationProgramsFolder"
            Name="Steam Screenshot Importer"
            Description="Run Steam Screenshot Importer"
            Advertise="no"
            Icon="ProductIcon.ico"
            WorkingDirectory="INSTALLFOLDER" />
        </File>
        <RemoveFolder
          Id="RemoveApplicationProgramsFolder"
          Directory="ApplicationProgramsFolder"
          On="uninstall" />
      </Component>

      <Component Id="SteamworksRuntime" Guid="*" Win64="yes">
        <File
          Id="SteamworksRuntimeFile"
          Source="$(var.SourceDir)\steam_api64.dll"
          KeyPath="yes"
          Checksum="yes" />
      </Component>

      <Component Id="Dav1dRuntime" Guid="*" Win64="yes">
        <File
          Id="Dav1dRuntimeFile"
          Source="$(var.SourceDir)\dav1d.dll"
          KeyPath="yes"
          Checksum="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Steam Screenshot Importer" Level="1">
      <ComponentRef Id="ApplicationExecutable" />
      <ComponentRef Id="SteamworksRuntime" />
      <ComponentRef Id="Dav1dRuntime" />
    </Feature>

    <UI>
      <!-- There is no license dialog until installer artwork/legal copy is added. -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
    <UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix>
